<div id="<%= dom_id student_report %>">
  <p>
    <strong>Name:</strong>
    <%#= capital(student_report.name) %>
     <%= student_report.name.titlecase %>
  </p>

  <p>
    <strong>Roll no:</strong>
    <%= student_report.roll_no %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= student_report.gender %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student_report.email %>
  </p>

  <p>
    <strong>Maths:</strong>
    <%= student_report.maths %>
  </p>

  <p>
    <strong>Physics:</strong>
    <%= student_report.physics %>
  </p>

  <p>
    <strong>Chemistry:</strong>
    <%= student_report.chemistry %>
  </p>

</div>
