<h1>Hello <%= @object.name%></h1>

<p>
  <%= @object.class.to_s %> of <%= @object.name%> has been deleted!
</p>

<h4>Now the <%= @object.class.to_s %> has <%= @object_count - 1 %> records.</h4>

<h4>Thanks</h4>
<h4>Admin Team.</h4>